
.parent{
    display:block;
   
}
.main{
    background-color: red;
    height:100px;
    width: 200px;
   margin: 25px;
   
   ;
}
 
@media (min-width: 800px) {
    .parent {
        display: flex; 
    }
}
@media (min-width: 1000px) {
    .parent {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 100px);
        gap: 250px; 
    }
}